@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html { margin: 0 auto; height: 100% !important; }
body { margin: 0; font-family: Roboto, 'Helvetica Neue', sans-serif; height: 100% !important }


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
.app-theme1-theme {
	$my-app-primary: mat-palette($mat-grey, 100);
	$my-app-accent: mat-palette($mat-grey, 500);
	$my-app-warn: mat-palette($mat-grey, 900);
	$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
	@include angular-material-theme($my-app-theme);
}

.app-theme2-theme {
  $alternate-primary: mat-palette($mat-pink, 100);
  $alternate-accent: mat-palette($mat-pink, 500);
  $alternate-warn: mat-palette($mat-pink, 900);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
  @include angular-material-theme($alternate-theme);
}
